h1= title
form(method="post")
  fieldset
    legend Missing persons list
    table
      tr
        th
        th Name
        th Details
        th Last known location
      tbody#people
        - each person in people
          tr
            td
              input(type="checkbox", name="chkperson")
            td
              span= person.first_name
              span= person.last_name
            td
              span= person.sex
              -
              span= person.age
            td
              p= person.note
    input(type="submit", value="Continue")
