h1= title
form(method="post")
  fieldset
    legend Missing persons list
    table
      tr
        th
        th Name
        th
        th Details
        th Last seen
        th People Finder
      tbody#people
        - each person in people
          tr
            td
              input(type="checkbox", name="chkperson")
            td
              span= person.first_name
            td
              span= person.last_name
            td
              span= person.sex
              -
              span= person.age
            td
              p= person.note
            td(id= person.first_name)
              script
                $.get('/search/?fn=!{person.first_name}&ln=!{person.last_name}', function(r){if (r != "true") document.getElementById('!{person.first_name}').innerHTML = '&#10003;';})
    input(type="submit", value="Continue")
